body{
  font-family: 'Arial', sans-serif;
   background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
h1{
  text-align: center;
  margin-top: 20px;
}
.summary-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
